body {background-image:url('../img/fondoregistro.jpg');
    background-size:cover;
    font-family:Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;}
.logo {position: fixed;
    right: 50px;
    top: 50px;
    width: 150px;}
.container{margin-top: 60px;}
.col-md-6{text-align: center;}
.form-control{background-color: rgba(255, 255, 255, 0.438);}
.form-select{background-color: rgba(255, 255, 255, 0.438)}


